.hamburger-btn::before,
.hamburger-btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: red;
    border-radius: 5px;
    transition: all 5s ease-in-out;

}

.hamburger-btn::before {
    transform: translateY(-12px);
}
.hamburger-btn::after {
    transform: translateY(12px);
}